
body {
    background-color: #ffffff;
    color: #000000;

    font-family: helvetica, arial, sans-serif;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.4;
    font-size: 18px;
    padding: 0 10px;

    --blue: #0031a9;
    --red: #b60000;
    --magenta: #721045;
}

h1,h2,h3,h4,h5,h6,b,i {

}

h1,h2,h3 {
    line-height: 1.2
}

a {
    color: var(--blue);
}

a:active {
    color: var(--red);
}

a:visited {
    color: var(--magenta);
}

::selection,::-moz-selection {
    background: var(--blue);
    color: #ffffff;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}
